@import url('/fonts/Bugfast.ttf');
@import url('/fonts/Glitch0.ttf');

@font-face {
  font-family: 'Bugfast';
  src: url('/fonts/Bugfast.ttf');
}

@font-face {
  font-family: 'Glitch0';
  src: url('/fonts/Glitch0.ttf');
}

* {
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  @apply font-display;
}
