@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./theme.css');
@import url('./font.css');
@import url('./animation.css');

#page-bg-w-texture {
  background-image: url('/bg-texture.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
