@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./font.css');
@import url('./styles.css');
@import url('./theme.css');
@import url('./animation.css');

body {
  overflow-x: hidden;
}

#page-bg-w-texture {
  background-image: url('/bg-texture.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.ticker-wrap {
  display: flex;
  box-sizing: content-box;
}

.ticker {
  display: flex;
  animation: ticker 30s infinite linear;

  box-sizing: content-box;
}
